.button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: #f5f5f5;
  border-radius: 10px;
  padding: 20px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
}

.button:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);

}

.button img {
  width: 80px;
  height: 80px;
  margin-bottom: 10px;
}

.button-label {
  font-size: 20px;
  color: #333;
  font-weight: bold;
}
