.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #222;
  color: white;
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 10px 25px;
  font-size: 16px;
  
}

.footer-text {
  margin: 0;
}

.footer-time {
  margin: 0;
  font-weight: 500;
  color: black;
}