/* fadein and slide animation*/
@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.header {
         
  
  
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 40px 40px;
  background-color:black;
  animation: fadeInDown 0.8s ease-out;
  color: white;
}


.header-title {
  font-size: 30px;
  font-weight: bold;
  color: #00bcd4;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.nav-left,
.nav-right {
  display: flex;
  gap: 25px;
}


.nav-item {
  position: relative;
  color: white;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.1rem;
  transition: color 0.3s ease;
}


.nav-item::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0;
  height: 2px;
  background-color: #00bcd4;
  transition: width 0.3s ease;
}

.nav-item:hover {
  color: #00bcd4;
}

.nav-item:hover::after {
  width: 100%;
}


.nav-item.active {
  color: #00bcd4;
}

.nav-item.active::after {
  width: 100%;
}